html,
body {
    box-sizing: border-box;
    margin: 0;
    background-color: #F6F7F9;
    font-family: "Arial", sans-serif;
    font-weight: 700;
}

.header {
    width: 100%;
    height: 5rem;
    background-color: #FFF;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.05);
}

.wrapper {
    margin: 5rem auto;
    width: 56%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.group-items {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px ;
}

.title-container {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
}

.title {
    color: #000;
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    margin-left: 24px;
}
.close-group{
    width: 30px;
    height: 30px;
    background-image: url("./assets/arrowUp.svg");
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 24px;
}
.name{
    margin-left: 24px;
}
.list-items {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.item-container {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid;
    background-color: #FFFFFF;
}

.phone {
    margin-left: 5rem;
}

.input-item {
    height: auto;
    width: auto;
    border: none;
    outline: none;
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.nav {
    margin: 0;
    padding: 0 22%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    text-align: center;
}

.contacts {
    display: flex;
    align-items: center;
    color: #005BFE;
    font-size: 18px;
    line-height: 21px;
}

.text-contacts {
    margin-left: 16px;
}

.text {
    font-weight: 700;
    font-size: 18px;
}

/*.todo-form {
    padding: 200px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr auto;
}*/

/*.input-field {
    position: relative;
}*/

/*.input-field > label {
    font-size: 1.1rem;
    height: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 0.5rem);
    padding-left: 0.5rem;
    padding-right: auto;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    color: rgba(255, 255, 255, 0.3);
    transition: 0.3s;
    cursor: text;
}*/

/*.input-field > label:focus-within {
    transform-origin: 0 0;
    transform: translateY(-1rem) scale(0.8);
    color: white;
    background-color: black;
}*/

/*#input--add {
    width: calc(100% - 1rem);
}*/


/*.input:focus {
    border-bottom: 3px solid white;
    outline: none;
    filter: brightness(0.7);
}*/

/*.input--todo {
    border-bottom: 1.5px solid rgb(33, 136, 56);
    color: rgb(33, 136, 56);
}*/

/*.input--todo:focus {
    border-bottom: 3px solid rgb(33, 136, 56);
    filter: brightness(0.7);
}*/

.buttons-container {
    height: 38px;
    flex-direction: row;
    justify-content: space-between;
    left: 0;
}

.buttons-submit {
    position: absolute;
    right: 0;
    padding: 24px;
    height: 38px;
    bottom: 0;
}

.button {
    border-radius: 6px;
    border-style: none;
    box-sizing: border-box;
    padding: 10px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    height: 38px;
    line-height: 18px;
    margin: 0;
    outline: none;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    -webkit-user-select: none;
}

.add-contact {
    background-color: #F81155;
    color: #FFFFFF;
}

.add-contact:hover {
    background-color: #D1003E;
}

.groups {
    background-color: #005BFE;
    color: #FFFFFF;
}

.groups:hover {
    background-color: #0047C6;
}

/*.button:hover {
    cursor: pointer;
    filter: brightness(0.7);
}*/

.button--todo {
    color: #ddd;
    background-color: inherit;
    border: 1px solid #ddd;
    transition: 0.3s;
}

.button--edit:hover {
    background-color: rgb(204, 153, 0);
    border: 1px solid rgb(204, 153, 0);
}

.button--save {
    background-color: rgb(33, 136, 56);
    border: 1px solid rgb(33, 136, 56);
}

.button--delete:hover {
    background-color: rgb(154, 27, 39);
    border: 1px solid rgb(154, 27, 39);
}

.todo-collection {
    padding-left: 0;
}

.todo-collection__item {
    list-style-type: none;
    margin: 0;
    padding: 1rem 0;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.6);
    font-size: 1.1rem;
    display: grid;
    grid-row-gap: 1rem;
    grid-template-columns: 1fr auto auto;
}

.todo-collection__item__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0.5rem;
    overflow-x: auto;
}

.hidden {
    display: none;
}

.shake-horizontal {
    animation: shake 0.25s;
    animation-iteration-count: infinite;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    overflow-x: hidden;
    transition: 0.5s;
}


.close-button {
}

.sidebar-groups-header {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-inline: 24px;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.05);
}

.groups-contacts_form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 24px;
    flex-direction: column;
}

.friends {
    height: 38px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input {
    width: 100%;
    height: 100%;
    margin-right: 12px;
    border-radius: 6px;
    text-align: center;
    color: black;
    background-color: rgba(0, 0, 0, 0.05);

    > input {
        font-size: 14px;
        font-weight: 400;
        width: 90%;
        height: 100%;
        color: black;
        border: none;
        border-radius: 6px;
        background-color: transparent;
        margin-left: 10px;
        margin-right: 20px;
        outline: none;
    }
}

.form-select {
    font-size: 14px;
    font-weight: 400;
    width: 90%;
    height: 100%;
    color: black;
    border: none;
    border-radius: 6px;
    background-color: transparent;
    margin-left: 10px;
    margin-right: 20px;
    outline: none;
}

.icon-delete {
    width: 38px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;

    &:hover {
        background-color: #EA3D2F;

        .icon-svg {
            background-color: #FFFFFF;
            opacity: 1;
        }
    }
}

.icon-svg {
    width: 26px;
    height: 26px;
    -webkit-mask: url("./assets/Delete.svg");
    mask: url("./assets/Delete.svg");
    background-size: cover;
    background-color: #000;
    opacity: 0.3;
}
.icons-container{
    width: 86px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 24px;
}

.icon-delete_item {
    width: 38px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;

    &:hover {
        background-color: #EA3D2F;

        .icon-delete_svg {
            background-color: #FFFFFF;
            opacity: 1;
        }
    }
}

.icon-delete_svg {
    width: 26px;
    height: 26px;
    -webkit-mask: url("./assets/Delete.svg");
    mask: url("./assets/Delete.svg");
    background-size: cover;
    background-color: #000;
    opacity: 0.3;
}
.icon-edit_item {
    width: 38px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;

    &:hover {
        background-color: #005BFE;

        .icon-edit_svg {
            background-color: #FFFFFF;
            opacity: 1;
        }
    }
}

.icon-edit_svg {
    width: 26px;
    height: 26px;
    -webkit-mask: url("./assets/Edit.svg");
    mask: url("./assets/Edit.svg");
    background-size: cover;
    background-color: #000;
    opacity: 0.3;
}
.icon-save_item {
    width: 38px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;

    &:hover {
        background-color: #005BFE;

        .icon-save_svg {
            background-color: #FFFFFF;
            opacity: 1;
        }
    }
}

.icon-save_svg {
    width: 26px;
    height: 26px;
    -webkit-mask: url("./assets/Save.svg");
    mask: url("./assets/Save.svg");
    background-size: cover;
    background-color: #000;
    opacity: 0.3;
}


.save {
    background-color: #005BFE;
    color: #FFFFFF;
}

.save:hover {
    background-color: #0047C6;
}

.add {
    background-color: transparent;
    color: #005BFE;
}

.add:hover {
    background: rgba(0, 91, 254, .1);
}


@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
}


@keyframes shake {
    0% {
        transform: translate(1rem, 0) rotate(0deg);
    }
    50% {
        transform: translate(-1rem, 0) rotate(0deg);
    }
    100% {
        transform: translate(1rem, 0) rotate(0deg);
    }
}

@media only screen and (max-width: 1000px) {
    .wrapper {
        width: 100%;
    }

    .nav {
        padding: 0 5%;
    }

    .todo-collection__item__title {
        overflow-x: auto;
    }
}

@media only screen and (max-width: 500px) {
    .wrapper {
        width: 100%;
    }

    .header {
        height: 7rem;
    }

    .buttons-container {
        padding-bottom: 2rem;
    }

    .add-contact {
        margin-bottom: 0.5rem;
    }
}
